:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --main-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --filter-button-color: #f5f4fa;
  --letter-spacing-second: 0.06em;
  --second-font-size: 16px;
  --font-weight-first: 700;
  --font-weight-second: 500;
  --main-section-padding: 94px;
  --main-margin-bottom: 50px;
  --title-margin-main: 10px;
  --main-margin-right: 30px;
  --main-transition-settings: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Global settings */
/* Временно до добавления JS */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  background-color: var(--main-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-container,
.header__navigation {
  display: flex;
  align-items: center;
}

.section {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.section__title {
  font-weight: var(--font-weight-first);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: var(--main-margin-bottom);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header settings */

.header {
  border-bottom: 1px solid #ececec;
}

.header-menu-list {
  display: flex;
}

.header-menu-list__mix {
  margin-left: 93px;
}

.header-menu__item:not(:last-child),
.header-contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: var(--font-weight-first);
  font-size: 26px;
  line-height: 1.19;
}

.header-logo {
  padding-top: 25px;
  padding-bottom: 25px;
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  6% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  12% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  18% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  24% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.animate-heartbeat {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 10000ms;
  animation-duration: 5000ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.logo__word,
.header__link--current,
.header__link:hover,
.header__link:focus,
.footer__link:focus,
.footer__link:hover {
  color: var(--accent-text-color);
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: var(--font-weight-second);
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--main-transition-settings);
}

.header__link--current,
.hover-effect__link {
  position: relative;
}

.header__link--current::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.hover-effect__link::after {
  position: absolute;
  right: 0;
  bottom: 20px;
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  transition: width 0.5s, left 0.5s;
}

.hover-effect__link:hover::after,
.hover-effect__link:focus::after {
  width: 100%;
  left: 0;
}

.header-contact-list {
  display: flex;
}

.header-contact-list__mix {
  margin-left: auto;
}

.contact-list__link {
  color: var(--second-text-color);
  display: flex;
  align-items: center;
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/* Main page */

/* Hero section */

.hero {
  background-color: var(--footer-background-color);
  color: var(--white-text-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(..//images/main-page/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: var(--letter-spacing-second);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__btn {
  position: relative;
  border: inherit;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
  font-family: inherit;
  font-weight: var(--font-weight-first);
  font-size: var(--second-font-size);
  line-height: 1.87;
  letter-spacing: var(--letter-spacing-second);
  text-align: center;
  min-width: 200px;

  transition: transform var(--main-transition-settings);
}

.hero__btn:hover,
.hero__btn:focus {
  transform: scale(1.05);
}

/* Benefits section */

.benefits__list {
  display: flex;
}

.benefits__item {
  flex-basis: calc((100% - 90px) / 4);
}

.benefits-icon-bg {
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--second-background-color);
  background-repeat: no-repeat;
  background-position: center;
}

.benefits-icon {
  width: 70px;
  height: 70px;
}

.clock-icon::before {
  background-image: url(../images/icons/clock.svg);
}

.daigram-icon::before {
  background-image: url(../images/icons/diagram.svg);
}

.astronaut-icon::before {
  background-image: url(../images/icons/astronaut.svg);
}

.benefits__item:not(:last-child) {
  margin-right: var(--main-margin-right);
}

.benefits__title {
  margin-bottom: var(--title-margin-main);
  font-weight: var(--font-weight-first);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits__text {
  color: var(--second-text-color);
}

/* About us section */

.about {
  padding-top: 0;
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.about__item:not(:last-child) {
  margin-right: var(--main-margin-right);
}

.about-list--tumb {
  position: absolute;
  bottom: -50px;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 120px;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__list--title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-top: 30px;
}

.about__list--text {
  font-size: 14px;
  line-height: 1.04;
  color: var(--white-text-color);
  padding: 15px 20px;
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

.about__item:hover .about-list--tumb,
.about__item:focus .about-list--tumb {
  transform: translateY(-50px);
}

.about__item:hover .about__list--text,
.about__item:focus .about__list--text {
  opacity: 1;
  transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1) 400ms;
}

/* Team section */

.team {
  background-color: var(--second-background-color);
  font-size: var(--second-font-size);
  line-height: 1.19;
}

.team__list {
  display: flex;
}

.team__item {
  flex-basis: calc((100% - 3 * var(--main-margin-right)) / 4);
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:last-child) {
  margin-right: var(--main-margin-right);
}

.team__title {
  margin-bottom: var(--title-margin-main);

  font-weight: var(--font-weight-second);
  font-size: 16px;
}

.team__text {
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.team__item-box {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-media-list {
  display: flex;
  justify-content: center;
}

.team-media-item + .team-media-item {
  margin-left: 10px;
}

.team-media-link {
  display: flex;
  background-color: inherit;
  min-height: 44px;
  min-width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--main-transition-settings);
}

.media-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--main-transition-settings);
}

.team-media-link:hover,
.team-media-link:focus {
  background-color: var(--accent-text-color);
}

.team-media-link:hover .media-icon,
.team-media-link:focus .media-icon {
  fill: #ffffff;
}

.team__scene {
  width: 270px;
  height: 260px;
  perspective: 600px;
  overflow: hidden;
}

.team__card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.team__cadr-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.team__card-face--back {
  background-color: rgb(241, 241, 241);
  transform: rotateY(180deg);
  padding: 15px;
}

.team__cadr-face--back-title {
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 8px;

  font-weight: var(--font-weight-second);
  font-size: 16px;
  text-align: center;
}

.team__cadr-face--back-text {
  font-size: 14px;
  line-height: 1.71;
}

.team__scene:hover .team__card,
.team__scene:hover .team__card {
  transform: rotateY(180deg);
  cursor: pointer;
}

/* Clients section */

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item {
  display: flex;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  transition: border-color var(--main-transition-settings);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-text-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-text-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill var(--main-transition-settings);
}

/* Porfolio page */

.works-filter {
  display: flex;
  margin-bottom: var(--main-margin-bottom);
  justify-content: center;
}

.works__item:not(:last-child) {
  margin-right: 8px;
}

.works__btn {
  border: inherit;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: var(--filter-button-color);
  font-family: inherit;
  font-weight: var(--font-weight-second);
  font-size: var(--second-font-size);
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color var(--main-transition-settings),
    color var(--main-transition-settings), box-shadow var(--main-transition-settings);
}

.works__btn:hover,
.works__btn:focus {
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-examples {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--main-margin-right));
  margin-bottom: calc(-1 * var(--main-margin-right));
}

.works-examples__item {
  flex-basis: calc((100% - 3 * var(--main-margin-right)) / 3);
  background-color: #ffffff;
  margin-right: var(--main-margin-right);
  margin-bottom: var(--main-margin-right);
  border: 1px solid #eeeeee;
}

.works-examples__link {
  display: block;
  transition: box-shadow var(--main-transition-settings);
}

.works-examples__link:hover,
.works-examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-examples__title {
  margin-bottom: 4px;
  font-weight: var(--font-weight-first);
  font-size: 18px;
  line-height: 2;
  letter-spacing: var(--letter-spacing-second);
}

.works-examples__text {
  color: var(--second-text-color);
  font-size: var(--second-font-size);
  line-height: 1.87;
}

.work-examples-box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.works-examples__tumb {
  position: relative;
  overflow: hidden;
}

.works-examples__link:hover .work-examples__overlay,
.works-examples__link:focus .work-examples__overlay {
  transform: translateY(0);
}

.work-examples__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform var(--main-transition-settings);
}

.work-examples__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-logo {
  margin-bottom: 20px;
  color: var(--white-text-color);
}

.footer__link {
  transition: color var(--main-transition-settings);
}

.footer__link--map {
  display: block;
  color: var(--white-text-color);
}

.footer__link--adress {
  display: block;
  color: var(--footer-text-color);
}

.footer__list {
  font-style: normal;
}

.footer__item + .footer__item {
  margin-top: 9px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  flex-grow: 1;
}

.footer-media {
  margin-left: 70px;
}

.footer-media-text {
  color: var(--white-text-color);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  margin-bottom: 20px;
}

.footer-media-list {
  display: flex;
  justify-content: center;
}

.footer-media-link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--main-transition-settings);
}

.footer-media-item + .footer-media-item {
  margin-left: 10px;
}

.footer-media-link:hover,
.footer-media-link:focus {
  background-color: var(--accent-text-color);
}

.footer-icon {
  fill: #ffffff;
}

.footer--mail-input {
  margin-left: 93px;
}

.footer-mail-wrap {
  display: flex;
}

.footer-mail-input-text {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.footer-mail-input-field {
  width: 358px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--filter-button-color);
  padding-left: 16px;
  transition: border-color var(--main-transition-settings);
}

.footer-mail-input-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail-input-field:hover,
.footer-mail-input-field:focus {
  border-color: var(--accent-text-color);
}

.footer-mail-input-button {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background-color: var(--accent-text-color);
  color: var(--filter-button-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: transform var(--main-transition-settings), box-shadow var(--main-transition-settings);
}

.footer-mail-input-button:hover,
.footer-mail-input-button:focus,
.modal-submit:hover,
.modal-submit:focus {
  transform: scale(1.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer--mail-input-icon {
  text-align: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--main-transition-settings), visibility var(--main-transition-settings);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  background-color: #ffffff;
  min-width: 528px;
  min-height: 581px;
  color: #000000;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--main-transition-settings);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color var(--main-transition-settings), fill var(--main-transition-settings),
    box-shadow var(--main-transition-settings);
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--accent-text-color);
  fill: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-close-icon {
  width: 16px;
  height: 16px;
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form-group {
  margin-bottom: 30px;
}

.modal-group-data {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: var(--second-text-color);
  margin-bottom: 4px;
}

.modal-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition: border-color var(--main-transition-settings);
}

.modal-input:hover {
  border-color: var(--accent-text-color);
}

.modal-input:hover .modal-label {
  color: var(--accent-text-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 12px;
  height: 12px;
  transform: translateY(25%);
  fill: currentColor;
  transition: fill var(--main-transition-settings);
}

.modal-group:hover .modal-icon,
.modal-group:focus-within .modal-icon {
  fill: var(--accent-text-color);
}

.modal-group-comment {
  display: block;
  margin-bottom: 20px;
}

.modal-textarea {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  resize: none;
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-check-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--second-text-color);
}

.modal-check-icon {
  display: block;
  text-align: center;
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--main-text-color);
  border-radius: 4px;
  margin-right: 8px;
}

.modal-check-box:checked + .modal-check-icon {
  background-color: var(--accent-text-color);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  border-color: var(--accent-text-color);
}

.modal-submit {
  display: block;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-text-color);
  color: var(--filter-button-color);
  transition: transform var(--main-transition-settings), box-shadow var(--main-transition-settings);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-right: auto;
  margin-left: auto;
}

.modal-check--link {
  color: var(--accent-text-color);
  text-decoration: underline;
  margin-left: 4px;
}
