.logo {
  display: block;
  font-family: $second-font;
  font-weight: $font-weight-first;
  font-size: 26px;
  line-height: 1.19;
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  6% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  12% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  18% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  24% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.animate-heartbeat {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 10000ms;
  animation-duration: 5000ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.logo__word {
  color: $accent-text-color;
}
