.section {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.section__title {
  font-weight: var(--font-weight-first);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: var(--main-margin-bottom);
}
