.clients {
  display: flex;
  justify-content: center;
}

.clients__item {
  display: flex;

  &:not(:first-child) {
    margin-left: 30px;
  }
}

.clients__link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  transition: border-color $main-transition-settings;

  &:hover,
  &:focus {
    border-color: $accent-text-color;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill $main-transition-settings;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-text-color;
  }
}
