:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --main-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --filter-button-color: #f5f4fa;
  --letter-spacing-second: 0.06em;
  --second-font-size: 16px;
  --font-weight-first: 700;
  --font-weight-second: 500;
  --main-section-padding: 94px;
  --main-margin-bottom: 50px;
  --title-margin-main: 10px;
  --main-margin-right: 30px;
  --main-transition-settings: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Global settings */
/* Временно до добавления JS */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  background-color: var(--main-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__container,
.navigation {
  display: flex;
  align-items: center;
}

.section {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.section__title {
  font-weight: var(--font-weight-first);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: var(--main-margin-bottom);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  6% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  12% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  18% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  24% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.animate-heartbeat {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 10000ms;
  animation-duration: 5000ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Header settings */

.header {
  border-bottom: 1px solid #ececec;
}

.navigation__list {
  display: flex;
}

.header__navigation-list {
  margin-left: 93px;
}

.navigation__item:not(:last-child),
.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: var(--font-weight-first);
  font-size: 26px;
  line-height: 1.19;
}

.header__logo {
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo__word,
.navigation__link--current,
.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-text-color);
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: var(--font-weight-second);
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--main-transition-settings);
}

.navigation__link--current,
.navigation__link--hover,
.contact__link--hover {
  position: relative;
}

.navigation__link--current::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.navigation__link--hover::after,
.contact__link--hover::after {
  position: absolute;
  right: 0;
  bottom: 20px;
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  transition: width 0.5s, left 0.5s;
}

.navigation__link--hover:hover::after,
.navigation__link--hover:focus::after,
.contact__link--hover:hover::after,
.contact__link--hover:focus::after {
  width: 100%;
  left: 0;
}

.contact-list {
  display: flex;
}

.header__contact-list {
  margin-left: auto;
}

.contact-list__link {
  color: var(--second-text-color);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: var(--font-weight-second);
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--main-transition-settings);
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--accent-text-color);
}

.contact-list__mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contact-list__tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/* Main page */

/* Hero section */

.hero {
  background-color: var(--footer-background-color);
  color: var(--white-text-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(..//images/main-page/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
}

.hero-center {
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: var(--letter-spacing-second);
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* Benefits section */

.features {
  display: flex;
}

.features__item {
  flex-basis: calc((100% - 90px) / 4);
}

.features__icon-bg {
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--second-background-color);
  background-repeat: no-repeat;
  background-position: center;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__item:not(:last-child) {
  margin-right: var(--main-margin-right);
}

.features__title {
  margin-bottom: var(--title-margin-main);
  font-weight: var(--font-weight-first);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  color: var(--second-text-color);
}

/* About us section */

.section-about {
  padding-top: 0;
}

.about {
  display: flex;
}

.about__item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.about__item:not(:last-child) {
  margin-right: var(--main-margin-right);
}

.about__tumb {
  position: absolute;
  bottom: -50px;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 120px;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-top: 30px;
}

.about__text {
  font-size: 14px;
  line-height: 1.04;
  color: var(--white-text-color);
  padding: 15px 20px;
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

.about__item:hover .about__tumb,
.about__item:focus .about__tumb {
  transform: translateY(-50px);
}

.about__item:hover .about__text,
.about__item:focus .about__text {
  opacity: 1;
  transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1) 400ms;
}

/* Team section */

.section-team {
  background-color: var(--second-background-color);
}

.team {
  display: flex;
}

.team__item {
  flex-basis: calc((100% - 3 * var(--main-margin-right)) / 4);
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:last-child) {
  margin-right: var(--main-margin-right);
}

.team-scene {
  width: 270px;
  height: 260px;
  perspective: 600px;
  overflow: hidden;
}

.team-scene:hover .team-card,
.team-scene:hover .team-card {
  transform: rotateY(180deg);
  cursor: pointer;
}

.team-card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.team-card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.team-card__back {
  background-color: rgb(241, 241, 241);
  transform: rotateY(180deg);
  padding: 15px;
}

.team-card__title-back {
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 8px;

  font-weight: var(--font-weight-second);
  font-size: 16px;
  text-align: center;
}

.team-card__text-back {
  font-size: 14px;
  line-height: 1.71;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__title {
  margin-bottom: var(--title-margin-main);

  font-weight: var(--font-weight-second);
  font-size: var(--second-font-size);
  line-height: 1.19;
}

.team__text {
  color: var(--second-text-color);
  font-size: var(--second-font-size);
  line-height: 1.19;
  margin-bottom: 16px;
}

.media-list {
  display: flex;
  justify-content: center;
}

.media__item + .media__item {
  margin-left: 10px;
}

.media__link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 44px;
  min-width: 44px;
  border-radius: 50%;

  background-color: inherit;
  transition: background-color var(--main-transition-settings);
}

.media__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--main-transition-settings);
}

.media__link:hover,
.media__link:focus {
  background-color: var(--accent-text-color);
}

.media__link:hover .media__icon,
.media__link:focus .media__icon {
  fill: #ffffff;
}

/* Clients section */

.clients {
  display: flex;
  justify-content: center;
}

.clients__item {
  display: flex;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  transition: border-color var(--main-transition-settings);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-text-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-text-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill var(--main-transition-settings);
}

/* Porfolio page */

.filter {
  display: flex;
  justify-content: center;
}

.section-works__filter {
  margin-bottom: var(--main-margin-bottom);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  border: inherit;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: var(--filter-button-color);
  font-family: inherit;
  font-weight: var(--font-weight-second);
  font-size: var(--second-font-size);
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color var(--main-transition-settings),
    color var(--main-transition-settings), box-shadow var(--main-transition-settings);
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-examples {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--main-margin-right));
  margin-bottom: calc(-1 * var(--main-margin-right));
}

.works-examples__item {
  flex-basis: calc((100% - 3 * var(--main-margin-right)) / 3);
  background-color: #ffffff;
  margin-right: var(--main-margin-right);
  margin-bottom: var(--main-margin-right);
  border: 1px solid #eeeeee;
}

.works-examples__link {
  display: block;
  transition: box-shadow var(--main-transition-settings);
}

.works-examples__link:hover,
.works-examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-examples__title {
  margin-bottom: 4px;
  font-weight: var(--font-weight-first);
  font-size: 18px;
  line-height: 2;
  letter-spacing: var(--letter-spacing-second);
}

.works-examples__text {
  color: var(--second-text-color);
  font-size: var(--second-font-size);
  line-height: 1.87;
}

.work-examples__box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.works-examples__tumb {
  position: relative;
  overflow: hidden;
}

.works-examples__link:hover .work-examples__overlay,
.works-examples__link:focus .work-examples__overlay {
  transform: translateY(0);
}

.work-examples__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform var(--main-transition-settings);
}

.work-examples__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}

/* Footer */

.footer__input-box {
  margin-left: 93px;
}

.input-box__wrap {
  display: flex;
}

.input-box__label {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.input-box__field {
  width: 358px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--filter-button-color);
  padding-left: 16px;
  transition: border-color var(--main-transition-settings);
}

.input-box__field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-box__field:hover,
.input-box__field:focus {
  border-color: var(--accent-text-color);
}

.modal-submit:hover,
.modal-submit:focus {
  transform: scale(1.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer--mail-input-icon {
  text-align: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--main-transition-settings), visibility var(--main-transition-settings);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  background-color: #ffffff;
  min-width: 528px;
  min-height: 581px;
  color: #000000;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--main-transition-settings);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color var(--main-transition-settings), fill var(--main-transition-settings),
    box-shadow var(--main-transition-settings);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  background-color: var(--accent-text-color);
  fill: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal__close-icon {
  width: 16px;
  height: 16px;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.registration-form__group {
  margin-bottom: 30px;
}

.registration-form__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.registration-form__data {
  display: block;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: var(--second-text-color);
  margin-bottom: 4px;
}

.registration-form__input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition: border-color var(--main-transition-settings);
}

.registration-form__input:hover {
  border-color: var(--accent-text-color);
}

.registration-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 12px;
  height: 12px;
  transform: translateY(25%);
  fill: currentColor;
  transition: fill var(--main-transition-settings);
}

.registration-form__label:hover .registration-form__icon,
.registration-form__label:focus-within .registration-form__icon {
  fill: var(--accent-text-color);
}

.registration-form__comment {
  display: block;
  margin-bottom: 20px;
}

.registration-form__textarea {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  resize: none;
}

.registration-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.registration-form__check-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--second-text-color);
}

.registration-form__check-icon {
  display: block;
  text-align: center;
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--main-text-color);
  border-radius: 4px;
  margin-right: 8px;
}

.registration-form__check-box:checked + .registration-form__check-icon {
  background-color: var(--accent-text-color);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  border-color: var(--accent-text-color);
}

.registration-form__check-link {
  color: var(--accent-text-color);
  text-decoration: underline;
  margin-left: 4px;
}
