.navigation-menu {
  display: flex;
}

.navigation-menu--postition {
  margin-left: 93px;
}

.navigation-menu__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: $font-weight-second;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $main-transition-settings;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}

.navigation-menu__link--current {
  position: relative;
  color: $accent-text-color;

  &::after {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-text-color;
    border-radius: 2px;
  }
}

.navigation-menu__link--hover {
  position: relative;

  &::after {
    position: absolute;
    right: 0;
    bottom: 20px;
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: $accent-text-color;
    border-radius: 2px;
    transition: width 0.5s, left 0.5s;
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
    left: 0;
  }
}
